# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

##### Assinging float

In [1]:
number = 6
print(number)
print(type(number))

6
<class 'int'>

#### Performing Calculations on ints and floats

##### Addition

In [2]:
num1 = 2

##### Subtraction

In [3]:
diff = num2 - num1
print(diff)
print(type(diff))

NameError: name 'num2' is not defined

##### Multiplication

##### Division

In [ ]:
quo= 10/2
print(quo)
print(type(quo))

quo /=3
print(quo)

5.0
<class 'float'>
1.6666666666666667

##### Floor Division

In [ ]:
floor = 10//3
print(floor)
print(type(floor))

# shorthand

floor //= 2
print(floor)

3
<class 'int'>
1

##### Modulo

In [ ]:
mod = 10%3
print(mod)
print(type(mod))

1
<class 'int'>

##### Exponential

In [ ]:
square = 5 **2
print(square)
print(type(square))

square **=2
print(square)

25
<class 'int'>
625

### String Input-Output

##### String Assignment

In [ ]:
s1 = 'hello world'
print(type(s1))
s2 = "My name is Katy"
print(type(s2))

<class 'str'>
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

##### String Concatenation

##### Type Conversion

##### input()

In [ ]:
answer = input("what is your name?")
ans = input("What is your age?")

string = answer+ ", in five years you will be" + str(int(ans) + 5) + "years old"

ValueError: invalid literal for int() with base 10: 'katy'

##### format()

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
color = input("What color is your car? ")
year = input("What is the year of your car? ")
make = input("What is the make of your car? ")
model = input("What is the model of your car? ")
results = f"You drive a {color}, {year} {make} {model}"
print(results)

You drive a black, 2015 jeep grand cherokee

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num1 == num2:
    print('equal values')
else:
    print('not equal')


if num2 > num1:
    print('num 2 is greater')
if True:
    print('hi')
elif num1 < num2 :

##### 'is' keyword

In [ ]:
# checks for referential equality
# use this when checking for same/similar object.. NOT VALUE

from hashlib import sha1


shoha_grades = [5,5,4]
brandt_grades = [5,5,4]
b = brandt_grades

print(b == 6)

b.append(5)
print(brandt_grades)

False
[5, 5, 4, 5]

##### 'in' keyword

In [ ]:
char = 'Harry Potter'
if 'Pot' in char:
    print("the boy who lived")

the boy who lived

##### 'not in' keyword'

In [ ]:
sega = "Sonic"
if 'a' not in sega:
    print('a is not here')

a is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
fruit = input("what's your favorite fruit?")
if 'p' in fruit:
    print("millions of peaches")

millions of peaches

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [ ]:
# syntax:
#for VARIABLE in ITERABLE:
for x in (2,80):
    print(x)

2
80

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [ ]:
for i in range(10):
    if i == 5:
        continue
    print(i)

print('done')

0
1
2
3
4
done

##### Break Statement

In [ ]:
# will break out of current loop

In [ ]:
for i in range(10):
    if i == 5:
        break
    print(i)

print('done')

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
if True:
    pass
else:
    print('hi')

##### Double For Loops

In [ ]:
for i in range(5): # slow
    for j in range(3): # fast
        print('i=', i, 'j=', j)

i= 0 j= 0
i= 0 j= 1
i= 0 j= 2
i= 1 j= 0
i= 1 j= 1
i= 1 j= 2
i= 2 j= 0
i= 2 j= 1
i= 2 j= 2
i= 3 j= 0
i= 3 j= 1
i= 3 j= 2
i= 4 j= 0
i= 4 j= 1
i= 4 j= 2

### While Loops

In [ ]:
# syntax
# while CONDITION:
num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
while True:
    print('loop')
    num = input('guess a number between 1-100')

##### While & For Loops Used Together

In [ ]:
num = 0 
while < 5:
    print('while loop Iteration', num)

### Built-In Functions

##### range()

In [30]:
# start, stop, step

for i in range(3, 10, 4):
    print(i)

3
7

##### len()

##### help()

In [43]:
help(isinstance)

Welcome to Python 3.9's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.9/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

##### isinstance()

In [6]:
num = 5
if isinstance(num, int):
    print('integer')
else:
    print('not an integer')

integer

##### abs()

In [7]:
#/ -5 "/
abs(-5)

5

### Try and Except

In [9]:
try:
   number_tes = 0
   num = int(input("guess a number:"))
   if num != answer:
    print(f'incorrect. you guessed {num}. try again')
   
except:
    print("tough")

tough

### Lists

##### Declaring Lists

In [10]:
x = ["shoha", "brandt", "blair"]
print(x)

['shoha', 'brandt', 'blair']

##### Indexing a List

In [11]:
print(x[2])

x[2]= 'nicole'

print(x)

blair
['shoha', 'brandt', 'nicole']

##### .append()

In [12]:
x.append('blair')
print(x)

['shoha', 'brandt', 'nicole', 'blair']

##### .insert()

In [13]:
x.insert(1, 'marlene')

print(x)

['shoha', 'marlene', 'brandt', 'nicole', 'blair']

##### .pop()

In [15]:
removed = x.pop()
print(removed)
print(x)

removed2 = x.pop(1)
print(removed2)
print(x)

nicole
['shoha', 'marlene', 'brandt']
marlene
['shoha', 'brandt']


##### .remove()

In [17]:
x = ['shoha', 'nicole', 'brandt', 'nicole']
x.remove('nicole')
print(x)
x.remove('nicole')
print(x)

['shoha', 'brandt', 'nicole']
['shoha', 'brandt']

##### del()

In [18]:
del(x[1])
print(x)

['shoha']

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [39]:

a_list = []
for num in range(1, 11):
    cubed = num**3
    a_list.append(cubed)
for cubed in a_list:
    print(cubed)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [48]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
 
 
 ###nonsense###

 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [49]:
age = int(input("How old are you?"))
if age < 18:
        print("kids")
elif age in range(18,65):
    print("adults")
else:
     print("seniors")

seniors